<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mekong Delta River Analysis</title>
  <link rel="stylesheet" href="../static/index.css">
  <!-- Include PapaParse library for CSV parsing -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head> 
<body> 
  <div id="settings-panel">
    <h1>Data Settings</h1>
    <div>
      <span id="enviroment_date_text"></span>
      <label for="category">Select Category:</label>
      <select id="category_select">
        <!-- Options will be dynamically added here -->
      </select>
    </div>
    <div>
      <label for="time-range">Select Time Range:</label>
      <input type="date" id="start-date"> to 
      <input type="date" id="end-date">
    </div>
    <div class="station-container">
      <div>
        <div id="selected-stations-div">
          <!-- Selected stations will be displayed here -->
        </div>
        <label for="station_select_options">Select Station:</label>
        <div id="add-stations-div">
          <div id="add-stations-div-left">
            <select id="station_select">
              <!-- Add more stations dynamically -->
            </select>
          </div>
          <div id="add-stations-div-right">
            <button id="add-station-button">Add</button>
          </div>
        </div>
      </div>
    </div>
    
    <span id="not_correct_date_range">Invalid date range selected. Please select a date range that falls within the allowed period.</span>
    <button id="add-category-button">Add Category</button>

    <div>
      <br>
      <label for="current_selected_categories">Current Categories:</label>
      <div class="current_selected_element_div" id="current_selected_element_div">
        <!-- Selected categories will be dynamically added here -->
      </div>
    </div>
    <button id="generate-visualization">Generate Visualization</button>

  </div>

  <div id="map-view">
    <div id="map" style="height: 100%; width: 100%;"></div>
  </div>

  <div id="data-visualization-panel">
    <h2>Data Visualization</h2>
    <div id="graph-container">
      <img id="loading-gif" src="../static/images/loading-data.gif" alt="Loading..." style="margin: auto;" />
      <!-- Loading GIF, hidden initially -->
       <div id="graph-data-images"></div>
      
      <!-- Dynamically load graphs here -->
      <canvas id="data-graph"></canvas>
    </div>
  </div>

  <div id="graphModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <div id="modal-graph"></div> 
    </div>
  </div>
  

  <script src="../static/index.js"></script>
</body>
</html>
